<div class="container-fluid">
  <div class="row fullscreen">
    <div class="col-lg-6 col fullscreen tall bg-secondary fs-button">
      <div class="container-fluid">
        <h2 class="display-4 text-white">Fotografía</h2>
      </div>
    </div>
    <div class="col-lg-6 fullscreen tall bg-primary fs-button">
      <div class="container-fluid">
        <h2 class="display-4 text-white">Desarrollo</h2>
      </div>
    </div>
    <div class="col-lg-7 fullscreen short bg-warning fs-button">
      <div class="container-fluid">
        <h2 class="display-3 text-white">Curriculum</h2>
      </div>
    </div>
    <div class="col-lg-5 col-sm-8 fullscreen short bg-success fs-button">
      <div class="container-fluid">
        <h2 class="display-3 text-white">Contacto</h2>
      </div>
    </div>
    <div class="col-lg-4 col-sm-4 fullscreen short bg-danger fs-button">
      <div class="container-fluid">
        <h2 class="display-3 text-white">Blog</h2>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 fullscreen short bg-info fs-button">
      <div class="container-fluid">
        <h2 class="display-3 text-white">Social</h2>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 fullscreen short bg-dark fs-button">
      <div class="container-fluid">
        <h2 class="display-3 text-white">Bio</h2>
      </div>
    </div>
  </div>
</div>
