<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
  <div class="container-fluid">
  <a class="navbar-brand" href="#"><img src="assets/profile.jpg" class="rounded-circle mr-2" height="40" alt="Bruno Jardón"> Bruno Jardón</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Fotografía</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Desarrollo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Currículum</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contacto</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Social</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Bio</a>
      </li>
    </ul>
  </div>
</div>
</nav>
<div class="container-fluid">
  <div class="row fullscreen">
    <div class="col-lg-6 col fullscreen tall bg-secondary fs-button">
      <div class="container-fluid">
        <h2 class="display-4 text-white">Fotografía</h2>
      </div>
    </div>
    <div class="col-lg-6 fullscreen tall bg-primary fs-button">
      <div class="container-fluid">
        <h2 class="display-4 text-white">Desarrollo</h2>
      </div>
    </div>
    <div class="col-lg-7 fullscreen short bg-warning fs-button">
      <div class="container-fluid">
        <h2 class="display-3 text-white">Curriculum</h2>
      </div>
    </div>
    <div class="col-lg-5 col-sm-8 fullscreen short bg-success fs-button">
      <div class="container-fluid">
        <h2 class="display-3 text-white">Contacto</h2>
      </div>
    </div>
    <div class="col-lg-4 col-sm-4 fullscreen short bg-danger fs-button">
      <div class="container-fluid">
        <h2 class="display-3 text-white">Blog</h2>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 fullscreen short bg-info fs-button">
      <div class="container-fluid">
        <h2 class="display-3 text-white">Social</h2>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 fullscreen short bg-dark fs-button">
      <div class="container-fluid">
        <h2 class="display-3 text-white">Bio</h2>
      </div>
    </div>
  </div>
</div>
